<html>
  <head>
    <title>Contact us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
  <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                  <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Home</a>
                  <a class="navbar-brand" href="about">About Us</a>
                  <a class="navbar-brand" href="contact">Contact Us</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </nav>
        <h1>Contact Us</h1>
        <h3>Address: </h3><h2>One World Trade Center, New York, NY</h2>
        <h3>Telephone: </h3><h2>+1 (646) 000-0000</h2>
  </body>
</html>
